<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDGH59Jx4Qntex9907znzw2dciGkRc9uk</string>
	<key>GCM_SENDER_ID</key>
	<string>488746501073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseFoodApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-food-app-ab2a5</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-food-app-ab2a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488746501073:ios:ddf8516833245faa2656f0</string>
</dict>
</plist>